<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Stuff's Slushies</title>
</head>
<body>
    <div id="topbar"><img id="logo" src="{{ url_for('static', filename='logo.png') }}"></div>
    <div id="placeholderthing"></div>
    <div id="latestoffer"><p id="dealfont">BUY THREE GET THREE DEAL</p><p id="dealfonts">NOTHING BEATS A STUFFS SLUSHIES SCAM</p><img id="slushym" src="{{url_for('static', filename='redslushy.png')}}"></div>
    <div id="menu"><p id="menufont">CHECK OUT OUR MENU!</p><br><a href="/menu" target="_blank"><img id="menuprev" src="{{url_for('static', filename='menu.png')}}"></a></div>
</body>
</html>