<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Stuff's Slushies</title>
</head>
<body>
    <div id="topbar"><img id="logo" src="{{ url_for('static', filename='logo.png') }}"></div>
    <div id="placeholderthing"></div>
    <div id="latestoffer"><p id="dealfont">BUY THREE GET THREE DEAL</p><img id="slushym" src="{{url_for('static', filename='redslushy.png')}}"></div>
</body>
</html>